* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background: black;
    color: white;
}

input[type=search] {
    width: 220px;
    height: 35px;
    text-align: center;
    border-radius: 20px;
}

.img-search {
    background-image: url(img/41gYkruZM2L.png);
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    margin-left: -43px;
    margin-top: -20px;
}

/* .img-search::before {
    content: "img/41gYkruZM2L.png";
} */

/* footer */
.footer {
    background: black;
    width: 100%;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    color: white;
    font-size: 30px;
    margin-left: 40px;
}

.rss1 {
    display: flex;
    width: 135px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/rss.svg);
    margin-right: 40px;
}

.github {
    color: white;
}

.main {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.img {
    width: 500px;
    height: 400px;
    margin-top: 47px;
}